*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.google-title{
    font-size: 100px;
    text-align: center;
}

main, section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.input-google{
    margin-top: 15px;
    width: 165%;
    height: 45px;
    border-radius: 40px;
}

.links-main{
    margin-top: 20px;
 
}

.estou-com-sorte{
    margin-left: 35px;
}
nav{
    display: flex;
    justify-content: flex-end;
   
}

nav a{
    padding: 0px 13px 20px ;
    margin-top: 25px;
}

.nav-button{
  
    margin-left: 20px;
    color: white;
    border: 1px solid blue;
    border-radius: 40px;
    font-size: 14px;
    width: 100px;
    height: 45px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #0b57d0;
    line-height: 3;
    display: flex;
    justify-content: center;
    
}

.nav-button:hover{
    background-color: blue;
    
}

.botao-principal:hover{
    border: 0.5px solid rgb(187, 187, 187);
    border-radius: 0px;
    width: 100%;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
}

.lista-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista-footer ul{
    display: flex;
   padding: 15px;
}

.lista-footer ul li{
    padding: 0px 10px;
    
}

a{
    color: inherit;
}

.pais-google{
    margin-left: 24px;
}
